/* Estilos generales */
body {
    background-color: #7FB1E6; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366; 
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 36px;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #E1F5FE; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;
}

section {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
}

h2 {
    font-size: 24px;
    color: #003366; 
}

p {
    font-size: 18px;
}

a {
    display: inline-block;
    background-color: #003366; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

a:hover {
    background-color: #0055A4;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

.pregunta {
    background-color: #F0F0F0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto; 
}


button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055A4;
}

.pregunta input[type="radio"] {
    margin-left: 10px; 
}
.pregunta input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #003366;
    border-radius: 50%; 
    margin-right: 10px; 
}


.pregunta input[type="radio"]:checked + label::before {
    background-color: #003366; 
    border: 2px solid #003366; 
}

#experimentacion {
    text-align: center;
}

.sustancias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sustancia {
    background-color: #bedbef;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.sustancia:hover {
    background-color: #8ed0ea; 
}


#opciones-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#opciones-popup img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#opciones-popup button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#opciones-popup button.tornasol {
    background-color: #f50202; 
    color: white;
    transition: background-color 0.3s;
}

#opciones-popup button.tornasol:hover {
    background-color: #FF4500; 
}

#opciones-popup button.tornasol_azul {
    background-color: #0919c1;
    color: white;
    transition: background-color 0.3s; 
}

#opciones-popup button.tornasol_azul:hover {
    background-color: #5424d7;
}

.carrusel-container {
    display: flex;
    overflow: hidden;
}

.carrusel-container {
    display: flex;
    overflow: hidden;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.carrusel-container img {
    max-width: 10%;
    max-height: 35vh; 
    transition: transform 0.5s ease;
}

.carrusel-container button {
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carrusel-container button:hover {
    background-color: #0055A4;
}

#opciones-popup {
    max-width: 40%; 
    max-height: 40vh; 

}


.imagenes-container img {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}
